<nav class="nav_bar">
  <ul>
    <li><a href="/">Landing Page</a></li>
  </ul>
</nav>

<div class="admin_home">
  <a href="/admin/burgers">Burgers</a>
  <a href="/admin/deals">Deals</a>
  <a href="/admin/eateries">Eateries</a>
</div>
