<a href="/dealz">Home</a>
<a href="/dealz/eateries">Eateries</a>
<a href="/dealz/deals">Deals</a>

<% @burgers.each do |burger| %>
  <img src="/images/<%= burger.image %>">
  <h2><%= "#{burger.name}" %></h2>
  <p><%= "#{burger.type.to_s}" %></p>
  <p><%= "#{burger.display_price}" %></p>
<% end %>
