<nav class="nav_bar">
  <ul>
    <li><a href="/seeker">Seeker Home</a></li>
    <li><a href="/seeker/eateries">Eateries</a></li>
    <li><a href="/seeker/deals">Deals</a></li>
  </ul>
</nav>

<% @burgers.each do |burger| %>
  <img src="/images/<%= burger.image %>">
  <h2><%= "#{burger.name}" %></h2>
  <p><%= "#{burger.type.to_s}" %></p>
  <p><%= "#{burger.display_price}" %></p>
<% end %>
