<nav class="nav_bar">
  <ul>
    <li><a href="/seeker">Seeker Home</a></li>
    <li><a href="/seeker/eateries">Eateries</a></li>
    <li><a href="/seeker/deals">Deals</a></li>
  </ul>
</nav>

<div class="seeker_show">
  <div class="seeker_style">
    <section>
      <h2><%= @burger.name %></h2>
      <p><%= @burger.type %></p>
      <p>£<%= @burger.display_price %></p>
    </section>
  </div>
</div>
