<section class="index_main">
  <div class="centre">
    <h1>Are you a:</h1>
  </div>
  <div class="centre">
    <a href="/seeker">
      <p>Dealz Seeker</p>
    </a>
    <a href="/admin">
      <p>Dealz Admin</p>
    </a>
  </div>
</section>
