<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Dealz</title>
  </head>
  <body>
    <section class = "layout">
        <h1>Dealz</h1>
    </section>
    <%= yield %>
  </body>
</html>
