<a href="/dealz">Home</a>
<a href="/dealz/deals">Deals</a>

<% @eateries.each do |eatery| %>
<a href="/dealz/eateries/<%= eatery.id %>">
  <img src="./images/<%= eatery.logo %>">
  <h2><%= "#{eatery.name}" %></h2>
</a>
<% end %>
