body {
  background-color: #040b16;
  color: #f9f9f4;
  font-family: "Arial", sans-serif;
  margin: 0;
}

a:hover {
  background-color: #176aef;
}

a {
  color: inherit;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 8px;
  margin: 2px;
}

.layout {
  background-image: url("/images/layout.jpg");
  height: 250px;
  background-size: cover;
  background-position: 0px -60px;
  position: relative;
}

.layout h1 {
  background-color: #040b16;
  /*background-color: rgba(0,0,0,0.75);*/
  font-size: 64px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 40px;
  bottom: 0;
  margin: 0;
}

.index_main h1 {
  text-align: center;
  border-top: 2px solid #f9f9f4;
  border-bottom: 2px solid #f9f9f4;
  display: inline-block;
  padding: 8px 12px;
}

.index_main a {
  font-size: 20px;
}

.centre {
  text-align: center;
}

.nav_bar {
  display: block;
  text-align: left;
  /*border-top: 1px solid #f9f9f4;*/
  border-bottom: 1px solid #f9f9f4;
}

.nav_bar li {
  display: inline;
}

.nav_bar ul {
  list-style-type: none;
  display: inline;
}

.seeker_home {
  display:flex;
  justify-content: space-around;
}
.seeker_home ul {
  list-style-type: none;
  text-align: center;
}

.deal_list {
  border: 1px solid #f9f9f4;
  text-align: center;
}

.seeker_index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.seeker_show {
  display: flex;
  justify-content:center;
}

.seeker_style {
  border: 1px solid #f9f9f4;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

.admin_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  text-align: center;
}



table {
  margin: 20px auto;
}

table, th {
  border: 1px solid #f9f9f4;
}

table, td {
  border: 1px solid #f9f9f4;
}

.admin_button {
  margin: 0 auto;
  text-align: center;
}

button {
    background-color: #040b16;
    border-style: none;
    border-color: red;
    border-radius: 10px;
    color: #f9f9f4;
    font-family: "Arial", sans-serif;
    padding: 5px 8px;
    margin: 2px;
    font-size: 16px;
}

button:hover {
  background-color: red;
}
